:root{
    --card-width: 9.5vmin;
    /* --card-height: 13.25vmin; */
    --card-height: 15vmin;
}

.trick-holder{
    width:100%;
    height:100%;
    display: flex;
}
/* if the containing element is display flex, margin auto auto will centre vertically too */
.trick{
    position: relative;
    width: calc(13.25vmin * 2);/*calc(var(--card-height) * 2);*/
    height: calc(13.25vmin * 2); /*calc(var(--card-height) * 2);*/
    margin: auto auto;
}

.left{
    position:absolute;
    /* top:6.625vmin; */
    top:0px;
    left:8.5vmin;
    padding-bottom:13.25vmin;
    transform: rotate(-90deg);
}

.top{
    position:absolute;
    top:0px;
    left:8.5vmin;
    padding-bottom:13.25vmin;
}

.right{
    position:absolute;
    top:0px;
    left:8.5vmin;
    padding-bottom:13.25vmin;
    transform: rotate(90deg);
}

.bottom{
    position:absolute;
    top:0px;
    left:8.5vmin;
    padding-bottom:13.25vmin;
    transform: rotate(180deg);
}