.trick{
    position: relative;
    padding-left:35px;
}

.left{
    position:absolute;
    top:0px;
    left:-30px;
    transform: rotate(90deg);
}

.top{
    position:absolute;
    top:-60px;
    left:0px;
}

.right{
    position:absolute;
    top:0px;
    left:30px;
    transform: rotate(-90deg);
}

.bottom{
    position:absolute;
    top:60px;
    left:0px;
}