.bid{
    /* width: 9.5vmin;
    height: 13.3vmin; */
    width:7vmin;
    height:9.8vmin;
    margin: 2px;
    padding: 5px;
    background: white;
    border-radius: 5px;
    border:1px solid black;
	vertical-align: initial;
    box-sizing: initial;
    display: inline-block; 
    cursor: pointer;
    text-align: center;
    line-height: 9.8vmin;
    font-size: 6vmin;
    font-family: sans-serif;
}


.bid:hover{
    background:yellow;
}