<div class="table">
  <div class="trumpTracker">
    <trump-tracker></trump-tracker>
  </div>
  <div *ngFor="let i of [0,1,2,3]" class="{{playerPositions[i]}}Player">
    <remote-player-hand *ngIf="humanPlayerIndex != i" [player]="players[i]" [vertical]="i%2==0"></remote-player-hand>
    <local-player-hand *ngIf="humanPlayerIndex == i"></local-player-hand>
    <bid-tracker [player]="players[i]"></bid-tracker>
  </div>
  <div class="trick-holder">
    <div class="tricks">
      <active-trick *ngIf="showTrick$ | async"></active-trick>
      <bid *ngIf="showBids$ | async" [validBids]="validBids$ | async"></bid>
      <choose-trumps *ngIf="showTrumps$ | async"></choose-trumps>
      <total-scores *ngIf="!(roundRunning$ | async)"></total-scores>
    </div>
  </div>
</div>