<div class="table">

  <ng-container *ngIf="players$ | async as players">
    <div class="tablefor-{{players.length}}">
      <div *ngFor="let player of players">
        <remote-player-hand-president *ngIf="!player.isLocal" [player]="player" [openHand]="openHand">
        </remote-player-hand-president>
        <local-player-hand *ngIf="player.isLocal"></local-player-hand>
      </div>

      <div class="trick-holder">
        <div class="tricks">
          <president-trick></president-trick>
        </div>
      </div>
    </div>
  </ng-container>
</div>