 /* .trick-holder {
    padding: 0;
	margin: 0;
}

.trick-hand{
    width: 60vmin;
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: initial;
    box-sizing: initial;
    display: inline-block; 
}

.trick-holder div.trick-hand:first-child{
    margin-top:0px;
    margin-left:0px;
}

.trick-holder div.trick-hand{
    margin-top:5vmin;
    margin-left: -55vmin;
}
 */

 .trick-holder{
     position: relative;
 }

 .trick-hand{
     position: absolute;
 }